<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="StyleSheet" th:href="@{/CSS/adminStyles.css}">

</head>
<body>
  <div class="container">
    <h1>Welcome to TuneHub Admin</h1>
    <nav>
      <ul>
        <li><a href="newSong"><i class="fas fa-plus"></i> Add New Song</a></li>
        <li><a href="viewSongs"><i class="fas fa-music"></i> View All Songs</a></li>
        <li><a href="createPlaylist"><i class="fas fa-list"></i> Create Playlist</a></li>
        <li><a href="viewPlaylists"><i class="fas fa-play"></i> View Playlists</a></li>
      </ul>
    </nav>
  </div>
</body>
</html>
